:root{
    --white: #fff;
    --yellow: #EBBD71;
    --brown: #AC624F;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}
.container{
    max-width: 1653px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}
.main{
    padding-top: 88px;
    display: flex;
    flex-direction: column;
    gap: 93px 0;
    padding-bottom: 150px;
    position: relative;
}
.mountains-img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    bottom: 0;
    z-index: -1;
}
/* HEADER */
.header{
    padding-top: 30px;
    width: 100%;
    overflow: visible;
}
.header .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}
.header-left,
.header-right,
.menu-btn,
.location-select,
.lk-btn,
.header-right__buttons,
.search-block,
.shopping-cart{
    display: flex;
    align-items: center;
}
.logo{
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.header-right{
    justify-content: flex-end;
}
.menu-btn{
    padding: 13px 20px;
    border-radius: 13px;
    background: var(--brown);
    gap: 20px;
    margin-right: 76px;
    transition: all 0.5s;
}
.menu-btn p{
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--white);
}
.hamburger{
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 25px;
    justify-content: space-between;
}
.hamburger span{
    border-radius: 133.333px;
    width: 100%;
    height: 3px;
    background-color: var(--white);
}
.location-select{
    gap: 13px;
}
.lk-btn{
    margin-right: 76px;
    gap: 13px;
}
.lk-btn p{
    color: var(--brown);
    opacity: 0.5;
}
.location-select select{
    color: var(--brown);
    font-size: 18.667px;
    font-weight: 500;
    cursor: pointer;
}
.header-right__buttons{
    gap: 26px;
}
.shopping-cart{
    padding: 13px;
    gap: 10px;
    border-radius: 20px;
    background: linear-gradient(147deg, #EBBD71 18.68%, #EFA52C 93.9%);
}
.shopping-cart span{
    color: var(--white);
    font-size: 18.667px;
    font-weight: 400;
    text-transform: uppercase;
}
.shopping-cart span{
    display: block;
}
.search-block{
    display: none;
}
.search-btn-close{
    display: none;
}
.search-btn-close.active{
    display: block;
}
.search-btn.close{
    display: none;
}
.search-btn{
    display: block;
}
.search-block .block-input{
    display: none;
}
.search-block.mobile{
    display: none;
}
.search-block{
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 13px;
    font-size: 18px;
    z-index: 1;
    background-color: #FCF9F8;
    border-radius: 20px;
}
.search-block.active{
    position: absolute;
    right: 118px;
    transition: all 0.5s;
}
.search-block.active .block-input{
    display: flex;
    align-items: center;
    gap: 13px;
    transition: all 0.5s;
}

.navigation-page__menu.active{
    opacity: 1;
    transition: all 0.5s;
}

.navigation-page__menu{
    opacity: 0;
    position: absolute;
    left: 15px;
    top: 100px;
    z-index: 77777;
    padding: 40px 60px;
    border-radius: 20px;
    background: var(--white);
    box-shadow: 0px 0px 73.33334px 0px rgba(0, 0, 0, 0.10);
    transition: all 0.5s;
}
.navigation-page__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 67px;
}
.navigation-page-item{
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.write{
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    padding: 10px 15px;
    gap: 15px;
    border-radius: 10px;
    background-color: var(--brown);
    color: var(--white);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}
.navigation-page__link{
    color: var(--brown);
    font-size: 18.667px;
    font-weight: 500;
}
.navigation-page__link.active{
    padding-bottom: 5px;
    border-bottom: 1px solid var(--brown);
}
.menu-btn.active{
    background-color: var(--white);
    box-shadow: 0px 0px 73.33334px 0px rgba(0, 0, 0, 0.10);
    transition: all 0.5s;
}
.menu-btn.active .hamburger span{
    background-color: var(--brown);
    transition: all 0.5s;
}
.menu-btn.active p{
    color: var(--brown);
    transition: all 0.5s;
}
.menu-btn.active .hamburger span:nth-child(2){
    display: none;
}
.menu-btn.active .hamburger span:nth-child(1){
    transform: translate(0px, 12px) rotate(45deg);
    transition: all 0.5s;
}
.menu-btn.active .hamburger span:nth-child(3){
    transform: translate(0px, -10px) rotate(-45deg);
    transition: all 0.5s;
}

/*START MAIN */

.main-container{
    border-radius: 66.667px;
    width: 100%;
    height: 530px;
    padding: 102px 0 116px 153px;
}
.rec-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.main-banner__bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-banner__info{
    max-width: 550px;
}
.main-banner__title{
    font-size: 53.333px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 20px;
}
.main-banner__suptitle{
    font-size: 26.667px;
    font-weight: 400;
    line-height: 26.667px;
    margin-bottom: 46px;
}
.main-banner__btn{
    padding: 20px 33px;
    border-radius: 20px;
    border: 1.333px solid var(--white);
    font-size: 26.667px;
    font-weight: 400;
    line-height: 26.667px; 
}

.catalog{
    position: relative;
}
.catalog-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:52px;
}
.index-bg{
    position: absolute;
    width: 100%;
    object-fit: cover;
    top: -390px;
    z-index: -1;
}
.section-title{
    font-size: 42.667px;
    font-weight: 600;
    line-height: 26.667px;
    color: var(--brown);
    margin-bottom: 53px;
}
.catalog-item{
    border-radius: 37.414px;
    width: 100%;
    height: 280px;
    padding: 205px 45px 36px;
}
.catalog-item__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.catalog-name{
    color: var(--white);
    font-size: 37.333px;
    font-weight: 600;
}
.menu-items__top{
    display: none;
}
.sale-banner__wrapper{
    width: 100%;
    height: 400px;
    border-radius: 66.667px;
    padding: 120px 70px 32px 126px;
    position: relative;
}
.sale-banner__title{
    font-size: 85.333px;
    font-weight: 700;
    text-transform: uppercase;
}
.sale-banner__suptitle{
    font-size: 42.667px;
    font-weight: 400;
}
.sale-btn__wrapper{
    position: absolute;
    display: inline-block;
    right: 70px;
    bottom: 32px;
    border-radius: 26.667px;
    border: 1.333px solid #EBBD71;
    animation: pulse 2s infinite;
    padding: 14px;
}
.sale-btn__wrapper:hover{
    animation: none;
}
.sale-banner__btn{
    border-radius: 20px;
    padding: 28px 52px 25px;
    background: linear-gradient(147deg, #EBBD71 18.68%, #EFA52C 93.9%);
    font-size: 26.667px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.index-about-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 66px;
}
.index-about-item{
    width: 100%;
    height: 460px;
    border-radius: 66.667px;
    box-shadow: 0px 0px 73.33334px 0px rgba(0, 0, 0, 0.10);
    position: relative;
    padding: 46px 66px 66px;
}
.index-about-item__content{
    position: absolute;
    bottom: 66px;
}
.index-about-item__suptitle{
    font-size: 36px;
    font-weight: 400;
    line-height: 57.333px;
    background: linear-gradient(147deg, #FFF 18.68%, #E1E1E1 93.9%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.index-about-item__subtitle{
    background: linear-gradient(147deg, #FFF 18.68%, #E1E1E1 93.9%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 73.33333587646484px rgba(235, 189, 113, 0.65);
    font-size: 42.667px;
    font-weight: 400;
    line-height: 57.333px;
}
.index-about-item__title{
    background: linear-gradient(147deg, #FFF 18.68%, #E1E1E1 93.9%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 73.33333587646484px rgba(235, 189, 113, 0.65);
    font-size: 64px;
    font-weight: 600;
    line-height: 57.333px;
}

.index-adress__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    align-items: center;
    position: relative;
}
.index-adress__left{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 46px;
    position: relative;
}
.index-adress__title{
    color: var(--brown);
    font-size: 64px;
    font-weight: 700;
}
.index-adress__title span{
    background: linear-gradient(180deg, #EBBD71 0%, #E8B259 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.index-adress__tab-title{
    color: var(--brown);
    font-size: 26.667px;
    font-weight: 500;
}
.index-adress__tab-title span{
    color: var(--yellow);
    font-weight: 600;
}
.index-adress__tabs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 13px;
}
.index-adress__tab{
    padding: 18px 37px 15px;
    border-radius: 33.333px;
    background: var(--white);
    box-shadow: 0px 0px 33.33334px 0px rgba(0, 0, 0, 0.05);
}
.index-adress__job{
    display: flex;
    gap: 40px;
    align-items: flex-end;
}
.rec2{
    position: absolute;
    z-index: -1;
    top: -135px;
    left: 78px;
    object-fit: cover;
}
.index-adress__job-title{
    color: var(--brown);
    font-size: 42.667px;
    font-weight: 600;
}
.index-adress__job-mode{
    color: var(--brown);
    font-size: 32px;
    font-weight: 500;
}
.index-adress__job-mode span{
    color: var(--yellow);
    font-weight: 600;
}
.index-adress__right{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.index-map__img{
    border-radius: 66.667px;
}
.index-adress-btn{
    padding: 27px 0;
    width: 100%;
    color: var(--yellow);
    font-size: 32px;
    font-weight: 600;
    border-radius: 20px;
    border: 1.333px solid #EBBD71;
}

.new-slider{
    display: flex;
    gap: 40px;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    padding: 0 70px;
}
.product-item.new.new-item{
    width: 266px;
    cursor: pointer;
    padding-bottom: 20px;
}
.product-item.new .product-img{
    height: auto;
}
.product-item.new img{
    border-radius: 28px;
}
.product-item.new .product-item__title{
    color: var(--brown);
    font-size: 21.333px;
    font-weight: 600;
    line-height: 26.667px;
    padding: 13px 0;
}
.product-item.new .product-item__wrapper{
    display: flex;
    align-items: center;
    gap: 7px;
    flex-direction: row;
    border-bottom: none;
    padding-bottom: 0;
    justify-content: flex-start;
}
.product-item.new .product-price{
    color: var(--brown);
    font-size: 21.333px;
    font-weight: 700;
    line-height: 26.667px;
    padding: 7px 20px;
    border-radius: 13.333px;
    background: var(--white);
    box-shadow: 0px 0px 33.33334px 0px rgba(0, 0, 0, 0.10);
}
.slick-prev, .slick-next {
    font-size: 0px;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0px;
    transform: translate(0px, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
}
.slick-prev:before {
    content: '';
    position: absolute;
    width: 23px;
    height: 44.333px;
    background: url('../images/prev.svg');
    left: 20%;
}
.slick-prev{
    left: 0;
}
.slick-next:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 44.333px;
    background: url('../images/next.svg');
    left: 20%;
}
.slick-next{
    right: 35px;
}
.btn-close__menu{
    display: none;
}
.contacts-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 0.7fr;
    gap: 53px;
}
.contact-item{
    padding: 53px 66px;
    border-radius: 33.333px;
    background: #FFF;
    box-shadow: 0px 0px 73.33334px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    gap: 60px;
}
.contact-item__title{
    color: var(--brown);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 13px;
}
.contact-item__text{
    color: var(--brown);
    font-size: 21.333px;
    font-weight: 400;
    margin-bottom: 20px;
}
.contact-item__cont{
    color: var(--yellow);
    font-size: 21.333px;
    font-weight: 600;
}
.contact-item__btn{
    border-radius: 33.333px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-item__btn p{
    color: var(--white);
    font-size: 32px;
    font-weight: 400;
    line-height: 32px; 
}
.mountains-img.mobile{
    display: none;
}
.contact-item__btn p span{
    font-weight: 700;
}

/*END MAIN */

/* START MENU */

.page-items__wrapper{
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.45fr;
    gap: 65px;
}
.nav-menu__left{
    padding: 40px 33px;
    height: 490px;
    border-radius: 13.333px;
    background-color: var(--brown);
}
.nav-left__list{
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.nav-menu__left-link{
    opacity: 0.5;
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
}
.nav-menu__left-item.active .nav-menu__left-link{
    font-weight: 600;
    opacity: 1;
}
.nav-menu__left-item.active{
    position: relative;
}
.nav-menu__left-item.active::before{
    content: '';
    position: absolute;
    left: -33px;
    top: 50%;
    transform: translateY(-50%);
    width: 6.667px;
    height: 13.333px;
    background-color: var(--white);
    border-radius: 0px 6.667px 6.667px 0px;
}
.offer-info{
    padding: 26px 0;
    height: 1000px;
    border-radius: 13.333px;
    background: linear-gradient(147deg, rgba(235, 189, 113, 0.1) 18.68%, rgba(239, 165, 44, 0.1) 93.9%);
}
.offer-info__top{
    padding: 0 26px 26px 26px;
    border-bottom: 1px solid rgba(172, 98, 79, 0.1);;
}
.rec-img-1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.offer-info__title{
    font-size: 26.667px;
    font-weight: 600;
    background: linear-gradient(147deg, #EBBD71 18.68%, #EFA52C 93.9%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.offer-info__main .none-content-offer{
    display: none;
}
.offer-info__main.none .none-content-offer{
    display: flex;
}
.offer-info__main{
    padding: 30px;
}
.offer-info__main.none{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.rec-mobile{
    display: none;
}
.none-content-offer{
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.none-content-offer p{
    font-size: 16px;
    font-weight: 400;
    background: linear-gradient(147deg, #EBBD71 18.68%, #EFA52C 93.9%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu-restoran .mountains-img{
    bottom: -230px;
}
.rec-join2.mobile{
    display: none;
}
.menu-items__wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}
.gramms{
    display: none;
}
.product-item__wrapper{
    flex-direction: column;
}
.product-info{
    display: none;
}
.product-inner{
    display: flex;
    gap: 7px;
}
.product-item{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.product-item__title{
    font-size: 21.333px;
    font-weight: 600;
    color: var(--brown);
    line-height: 26.667px; 
}
.product-item__wrapper{
    display: flex;
    gap: 13px;
}
.product-price{
    padding: 6.67px 20px 6px;
    border-radius: 13.333px;
    background: var(--white);
    box-shadow: 0px 0px 33.33334px 0px rgba(0, 0, 0, 0.10);
    font-size: 21.333px;
    font-weight: 700;
    line-height: 26.667px;
    color: var(--brown);
}

/* END MENU */

/* START ABOUT */

.about{
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.about-text{
    width: 100%;
    color: var(--brown);
    font-size: 32px;
    font-weight: 400;
}
.about-text span{
    background: linear-gradient(147deg, #EBBD71 18.68%, #EFA52C 93.9%);
    background-clip: text;
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-wrapper__img{
    display: grid;
    grid-template-columns: 1fr 0.43fr;
    gap: 53px;
}
.about-big__img{
    border-radius: 33.333px;
    width: 100%;
}
.about-small__img{
    border-radius: 33.333px;
    width: 100%;
}
.about-wrapper__img-right{
    display: flex;
    flex-direction: column;
    gap: 66px;
}
.about-title{
    margin-bottom: 0;
}

/* END ABOUT`*/

/* START JOIN*/

.popup-join {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    justify-content: center;
    align-items: center;
    z-index: 7777777777777777777;
}

.popup-join.active {
    display: flex;
}

.close-join {
    position: absolute;
    top: 40px;
    right: 107px;
}
.rec-join1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.rec-join2{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.logo-join{
    padding-top: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.join-form{
    padding: 60px;
    background-color: var(--white);
    box-shadow: 0px 0px 200px 0px rgba(0, 0, 0, 0.10);
    max-width: 666.667px;
    max-height: 745.333px;
    border-radius: 33.333px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.join-form__title{
    color: var(--brown);
    font-size: 32px;
    font-weight: 600;
}
.join-form__info{
    color: var(--brown);
    font-size: 26.667px;
    font-weight: 500;
    opacity: 0.5;
}
.join-input{
    border-radius: 33.333px;
    background-color: rgba(235, 189, 113, 0.1);;
    padding: 24px 40px;
    font-size: 26.667px;
    color: var(--brown);
}
.join-input::placeholder{
    color: var(--brown);
}
.join-btn{
    width: 100%;
    padding: 23px 0;
    color: var(--white);
    font-size: 26.667px;
    border-radius: 33.333px;
    font-weight: 600;
    background: linear-gradient(147deg, #EBBD71 18.68%, #EFA52C 93.9%);
}
.join-descr{
    font-size: 18.667px;
    color: #000;
    text-align: center;
}
.join-descr a{
    color: #EBBD71;
}

/* END JOIN*/

.footer{
    padding: 86px 0 107px;
    background-color: var(--brown);
}
.footer .container{
    display: flex;
    justify-content: space-around;
}

.footer-nav{
    display: flex;
    gap: 140px;
}
.footer-title{
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 90.9%;
    color: var(--white);
    margin-bottom: 47px;
}
.footer-contact__item{
    display: flex;
    gap: 20px;
}
.footer-nav__list, .footer-contact__list{
    display: flex;
    flex-direction: column;
    gap: 47px;
}
.footer-nav__item, .footer-contact__item p, .footer-contact__item a{
    font-size: 21.333px;
    font-weight: 400;
    line-height: normal;
    color: #fff;   
}
/* END FOOTER */

@media (max-width: 1440px) {
    .join-form__title{
        font-size: 24px;
    }
    .join-form{
        padding: 45px;
        gap: 25px;
        max-width: 500px;
    }
    .join-input{
        font-size: 20px;
        padding: 18px 30px;
        border-radius: 25px;
    }
    .close-join svg{
        width: 29.5px;
        height: 29.5px;
    }
    .rec-join1,
    .rec-join2{
        zoom: 0.7;
    }
    .join-btn{
        border-radius: 25px;
        padding: 18px 0;
    }
    .join-form__info{
        font-size: 20px;
        font-weight: 500;
    }
    .join-descr{
        font-size: 14px;
    }
    .about-text{
        font-size: 24px;
        line-height: normal;
    }
    .about{
        gap: 45px;
    }
    .about-wrapper__img{
        gap: 40px;
    }
    .about-wrapper__img-right{
        gap: 50px;
    }
    .rec-img-1{
       zoom: 0.8;
    }
    .menu-btn.active .hamburger span:nth-child(1) {
        transform: translate(0px, 8px) rotate(45deg);
        transition: all 0.5s;
    }
    .navigation-page__menu{
        top: 70px;
        padding: 30px 45px;
    }
    .navigation-page__link {
        font-size: 14px;;
    }
    .navigation-page__list{
        gap: 50px;
    }
    .main{
        gap: 70px;
        padding-top: 66px;
        padding-bottom: 90px;
    }
    .header-right__buttons{
        gap: 20px;
    }
    .block-input input{
        font-size: 16px;
    }
    .logo-img{
        width: 116px;
        height: 49px;
        object-fit: cover;
    }
    .location-select svg{
        width: 10px;
        height: 14.797px;
    }
    .container{
        max-width: 1240px;
        padding: 0 20px;
    }
   .menu-btn p{
        font-size: 14px;
   }
   .hamburger{
        width: 23px;
        height: 20px;
   }
   .hamburger span{
        height: 2px;
   }
   .menu-btn{
        padding: 10px 15px;
        gap: 15px;
        margin-right: 60px;
   }
   .location-select {
        gap: 10px;
    }
    .location-select select{
        font-size: 14px;
        font-weight: 500;
    }
    .lk-btn{
        margin-right: 60px;
    }
    .lk-btn p{
        font-size: 12px;
    }
    .lk-btn svg{
        width: 16px;
        height: 16px;
    }
    .search-block{
        padding: 10px 13px;
        border-radius: 15px;
    }
    .search-block.active {
        position: absolute;
        right: 101px;
    }
    .search-btn svg, .search-block svg{
        width: 16px;
        height: 16px;
    }
    .shopping-cart{
        border-radius: 15px;
        padding: 11px 10px;
    }
    .shopping-cart svg{
        width: 20px;
        height: 18px;
    }
    .shopping-cart span{
        font-size: 14px;
    }
    .main-container{
        height: 400px;
        padding: 77px 0 87px 115px;
        background-size: cover !important;
        width: 100%;
    }
    .main-banner__title{
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 15px;
    }
    .main-banner__suptitle {
        font-size: 20px; 
        line-height: 20px; 
        margin-bottom: 35px;
    }
    .main-banner__btn {
        padding: 15px 25px;
        border-radius: 15px;
        font-size: 20px;
        line-height: 20px;;
    }
    .section-title{
        font-size: 32px;
        line-height: 20px;
    }
    .catalog-item{
        border-radius: 28.061px;
        height: 210px;
        padding: 154px 35px 27px;
        background-size: cover !important;
    }
    .catalog-name {
        font-size: 28px;
    }
    .sale-banner__wrapper{
        height: 300px;
        padding: 92px 0 92px 95px;
        border-radius: 50px;
        background-size: cover !important;
    }
    .sale-banner__title{
        font-size: 64px;
    }
    .sale-banner__suptitle{
        font-size: 32px;
    }
    .index-bg{
        top: -300px;
    }
    .sale-banner__btn{
        font-size: 20px;
        padding: 20px 39px;
        border-radius: 15px;
    }
    .index-about-item{
        height: 345px;
        border-radius: 50px;
        padding: 35px 50px 50px;
        background-size: cover !important;
    }
    .index-about-item__subtitle{
        font-size: 32px;
        line-height: 43px;
    }
    .index-about-item__title{
        font-size: 48px;
    }
    .index-about-item__suptitle{
        font-size: 32px;
    }
    .index-about-item__content{
        bottom: 50px;
    }
    .index-adress__title {
        font-size: 47px;
    }
    .index-adress__tab-title{
        font-size: 20px;
    }
    .index-adress__tab-title br{
        display: none;
    }
    .index-adress__tab{
        padding: 15px 20px;
    }
    .index-adress__wrapper{
        gap: 80px;
    }
    .index-adress__left{
        gap: 35px;
    }
    .index-adress__job-title{
        font-size: 32px;
    }
    .index-adress__job-mode{
        font-size: 24px;
    }
    .index-adress-btn{
        font-size: 24px;
        padding: 20px 0;
        border-radius: 15px;
    }
    .rec2{
        width: 650px;
        height: 650px;
    }
    .nav-menu__left-item.active::before{
        left: -25px;
    }
    .new-slider{
       padding: 0 40px; 
    }
    .product-item.new{
        margin-right: 30px;
    }
    .product-item.new  .product-item__wrapper{
        display: flex;
        flex-direction: row !important;
    }
    .product-item.new:last-child{
        margin-right: 0;
    }
    .slick-next::before {
        width: 17.5px;
        height: 32px;
        top: 0;
        background: url('../images/next-l.svg');
    }
    .slick-prev::before {
        width: 15.5px;
        height: 32px;
        background: url('../images/prev-l.svg');
    }
    .slick-prev, .slick-next {
        top: 40%;
    }
    .product-item.new .product-item__title{
        font-size: 16px;
        line-height: 20px;
    }
    .product-item.new .product-price{
        font-size: 16px;
        line-height: 20px;
        padding: 5px 15px;
        border-radius: 10px;
    }
    .product-item.new .product-btn svg{
       width: 30px;
       height: 30px; 
    }
    .contact-item{
        padding: 40px 50px;
        gap: 40px;
    }
    .contact-item__title{
        font-size: 24px;
    }
    .contact-item__text{
        font-size: 16px;
    }
    .contact-item__cont{
        font-size: 16px;
    }
    .contact-item__cont br{
        display: none;
    }
    .contact-item:first-child svg{
        width: 100px;
        height: 100px;
    }
    .contact-item:nth-child(2) svg{
        width: 100px;
        height: 132px;
    }
    .contact-item__btn p{
        font-size: 24px;
    }
    .rec-img{
        width: 650px;
        height: 650px;
    }
    .page-items__wrapper{
        gap: 49px;
    }
    .nav-menu__left{
        height: 385px;
        padding: 30px 25px;
    }
    .nav-menu__left-link{
        font-size: 14px;
        line-height: normal;
    }
    .nav-left__list{
        gap: 15px;
    }
    .offer-info{
        height: 800px;
        
    }
    .offer-info__main{
        padding: 25px;
    }
    .offer-info__title{
        font-size: 20px;
        font-weight: 600;
        line-height: normal;
    }
    .none-content-offer p{
        font-size: 12px;
    }
    .none-content-offer img{
        width: 42.482px;
        height: 43px;
    }
    .product-item{
        gap: 10px;
    }
    .product-item__title{
        font-size: 16px;
        line-height: 20px;
    }
    .product-price{
        font-size: 16px;
        padding: 5px 15px;
        line-height: 20px;
    }
    .product-item__wrapper{
        gap: 5px;
    }
    .product-btn svg{
        width: 30px;
        height: 30px;
    }
    

    .footer{
        padding: 65px 0 87px;
    }
    .footer-nav{
        gap: 110px;
    }
    .footer-contact__item{
        gap: 20px;
    }
    .footer-nav__list, .footer-contact__list{
        gap: 35px;
    }
    .footer-nav__item, .footer-contact__item p, .footer-contact__item a{
        font-size: 16px;  
    }
    .footer-title{
        font-size: 16px;
    }
}

@media (max-width: 1148px){
    .nav-menu__left-item.active::before{
        left: -20px;
    }
    .offer-info{
        height: 700px;
    }
    .nav-menu__left{
        height: 325px;
        padding: 15px 20px;
    }
    .nav-left__list{
        gap: 10px;
    }
    .index-about-item__title {
        font-size: 36px;
    }
    .index-adress__job-title {
        font-size: 26px;
    }
    .index-adress__tab-title {
        font-size: 14px;
    }
    .index-adress__job-mode {
        font-size: 18px;
    }
    .sale-banner__title {
        font-size: 50px;
    }
    .sale-banner__suptitle {
        font-size: 25px;
    }
    .catalog-name {
        font-size: 20px;
    }
    .contact-item {
        padding: 30px 40px;
        gap: 40px;
    }
    .product-item.new .product-item__title{
        font-size: 13px;
    }
    .menu-items__wrapper{
        gap: 20px;
    }
}

@media (max-width: 980px){
    .lk-btn p {
       display: none;
    }
    .lk-btn {
        border-radius: 15px;
        padding: 13px;
        margin-right: 20px;
        background-color: #FCF9F8;
    }
    .menu-btn{
        margin-right: 20px;
    }
}

@media (max-width: 768px){
    .rec-join1,
    .rec-join2{
        zoom: 0.5;
    }
    .write p{
        display: none;
    }
    .write{
        right: 25px;
        bottom: 20px;
    }
    .about-wrapper__img-right{
        gap: 25px;
    }
    .product-item__wrapper{
        flex-direction: row;
    }
    .menu-items__title{
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        color: var(--brown);
    }
    .gramms{
        display: block;
        width: 100%;
        opacity: 0.5;
        font-size: 14px;
        font-weight: 500;
        line-height: 12.613px;
        color: var(--brown);
    }
    .product-info{
        display: block;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        opacity: 0.5;
        color: var(--brown);
        padding-top: 10px;
    }
    .product-item__wrapper{
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(172, 98, 79, 0.2);;
    }
    .product-inner{
        display: flex;
        gap: 4px;
    }
    .col-items{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: var(--brown);
    }
    .menu-items__top{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .menu-items-top-top{
        display: flex;
        align-items: flex-end;
        gap: 15px;
    }
    .mobile-filer__menu{
        display: flex;
        gap: 18px;
        margin-bottom: 20px;
    }
    .filter-item{
        font-size: 16px;
        font-weight: 500;
        opacity: 0.5;
        line-height: 20px;
        color: var(--brown);
    }
    .filter-item.active{
        font-weight: 600;
        opacity: 1;
    }
    .page-items__wrapper{
        display: block;
        margin-bottom: 25px;
    }
    .menu-items__wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    .product-img{
        border-radius: 12.613px;
        object-fit: cover;
        height: 200px;
    }
    .offer-info{
        display: none;
    }
    .nav-menu__left{
        display: none;
    }
    .menu-btn p {
        display: none;
    }
    .footer-nav {
        gap: 20px;
    }
    .block-input input{
        width: 100px;
    }
    .container{
        padding: 0 25px;
    }
    .catalog-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    .main-container {
        height: 300px;
        padding: 50px 0 30px 50px;
        background-size: cover !important;
        width: 100%;
    }
    .main-banner__title {
        font-size: 32px;
        line-height: normal;
    }
    .sale-banner__wrapper {
        height: 250px;
        padding: 52px 0 52px 55px;
        border-radius: 50px;
        background-size: cover !important;
    }
    .sale-btn__wrapper{
        right: 30px;
    }
    .sale-banner__btn {
        font-size: 14px;
        padding: 15px;
        border-radius: 15px;
    }
    .index-about-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap:25px;
    }
    .index-about-item__content {
        bottom: 30px;
    }
    .index-about-item{
        height: 250px;
        padding: 35px;
    }
    .rec-img{
        width: 250px;
        height: 250px;
    }
    .index-adress__wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .index-adress__left{
        order: 1;
    }
    .index-adress__right{
        order: 0;
    }
    .index-map img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .rec2 {
       display: none;
    }
    .index-bg {
        top: -142px;
    }
    .product-item.new img {
        border-radius: 10px;
    }
    .contacts-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 53px;
    }
    .contact-item__btn{
        width: 100%;
        height: 200px;
        display: flex;
        background-size: cover !important;
        border-radius: 50px;
    }
}

@media (max-width:600px) {
    .about {
        gap: 20px;
    }
    .about-title{
        margin-bottom: 0 !important;
    }
    .logo{
        order: 0;
        width: 100%;
    }
    .header-left{
        order: 1;
    }
    .header-right{
        order: 2;
    }
    .search-block.mobile{
        order: 3;
        width: 100%;
    }
    .header .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 55px;
    }
    .footer-nav {
        gap: 50px;
    }
    .search-block{
        display: none;
    }
    .search-block.mobile{
        margin-top: 20px;
        display: flex;
        background-color: var(--white);
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.10);
        margin-bottom: 18px;
    }
    .block-input input {
        width: 100%;
        color: rgba(172, 98, 79, 0.5);
        font-size: 14px;
    }
    .block-input{
        width: 100%;
        display: flex !important;
        justify-content: space-between;
    }
}

@media (max-width:520px) {
    .popup-join{
        padding: 0 25px;
    }
    .close-join{
        right: 25px;
        top: 55px;
    }
    .join-form__title{
        font-size: 20px;
    }
    .join-form__info{
        font-size: 16px;
    }
    .join-btn{
        font-size: 20px;
    }
    .join-descr{
        font-size: 14px;
    }
    .close-join svg{
        width: 22.5px;
        height: 22.5px;
    }
    .about-text{
        font-size: 16px;
    }
    .about-wrapper__img-right{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 17px;
    }
    .about-wrapper__img{
        gap: 15px;
    }
    .about-small__img{
        border-radius: 25px;
    }
    .about-wrapper__img{
        grid-template-columns: repeat(1,1fr);
    }
    .join-form{
        width: 100%;
        max-width: 100%;
        padding: 35px 25px;
    }
    .rec-join2{
        display: none;
    }
    .rec-join2.mobile{
        display: block;
        bottom: 0;
        right: 0;
        zoom: 1;
    }
    .navigation-page__menu{
        opacity: 1;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100vh;
        border-radius: 0;
        transform: translateY(-200%);
    }
    body.hidden{
        overflow: hidden;
    }
    .navigation-page__menu.active{
        position: fixed;
        transform: translateY(0%);
        padding: 30px;
    }
    .navigation-page__menu.active .btn-close__menu{
        display: block;
    }
    .btn-close__menu{
        text-align: right;
        margin-bottom: 15px;
    }
    .navigation-page__link{
        font-size: 20px;
    }
    .navigation-page-item{
        gap: 30px;
    }
    .navigation-page__list{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .navigation-page-item{
        justify-content: center;
        align-items: center;
    }
    .product-price{
       padding: 3px 12px 1px;
       font-size: 12px;
       line-height: 26.667px;
    }
    .rec-mobile{
        display: block;
        position: absolute;
        right: 0;
        bottom: 100px;
        z-index: -2;
    }
    .menu-items__wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .product-img{
        border-radius: 12.613px;
        height: 175px;
        line-height: 15.514px; 
    }
    .main-container{
        border-radius: 35px;
        height: 365px;
        padding: 50px 27px;
        background-position: center !important;
    }
    .main-banner__title {
        margin-bottom: 20px;
    }
    .main {
        gap: 35px;
        padding-top: 0px;
        padding-bottom: 50px;
    }
    .rec-img-1{
        zoom: 0.6;
    }
    .menu-restoran .mountains-img.mobile {
        display: block;
        object-fit: cover;
        bottom: -323px;
    }
    .section-title{
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
    }
    .catalog-item {
        border-radius: 15.895px;
        height: 120px;
        padding: 87px 20px 15px;
    }
    .catalog-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 23px;
    }
    .catalog-name {
        font-size: 16px;
    }
    .catalog-item__content svg{
        width: 6.179px;
        height: 9.358px;
    }
    .sale-banner__wrapper{
        border-radius: 35px;
        height: 300px;
        padding: 75px 30px 30px;
    }
    .sale-btn__wrapper{
        border-radius: 20px;
        position: static;
        padding: 9px 10px;
    }
    .sale-banner__title {
        font-size: 32px;
        margin-bottom: 5px;
    }
    .sale-banner__suptitle {
        font-size: 20px;
        margin-bottom: 36px;
    }
    .index-about-item__subtitle{
        font-size: 18.286px; 
        line-height: 24.571px; 
    }
    .index-about-item__title {
        font-size: 27.429px;
        line-height: 24.571px;
    }
    .index-about-item__suptitle{
        font-size: 18.286px;
        line-height: 24.571px;
    }
    .index-about-item{
        border-radius: 28.571px;
        padding: 20px 28px 28px;
    }
    .index-bg {
        top: 50px;
    }
    .index-map img{
        height: 100%;
        border-radius: 29.31px;
        object-fit: contain;
    }
    .index-adress__wrapper{
        gap: 35px;
    }
    .index-adress__right{
        gap: 18px;
    }
    .index-adress-btn{
        font-size: 14px;
    }
    .index-adress__title{
        font-size: 28px;
        line-height: normal;
    }
    .index-adress__tab-title{
        font-size: 10px;
    }
    .index-adress__tab{
        padding: 7px 17px;
    }
    .index-adress__left{
        gap: 27px;
    }
    .index-adress__job-title{
        font-size: 18px;
    }
    .index-adress__job-mode {
        font-size: 14px;
    }
    .mountains-img{
        display: none;
    }
    .contacts-wrapper{
        gap: 11px;
    }
    .contact-item{
        height: 151px;
    }
    .contact-item__btn{
        border-radius: 25px;
        height: 121px;
    }
    .new-slider{
        padding: 0px;
        padding: 0 40px;
    }
    .index-about-item{
        height: 200px;
    }
    .catalog-item:nth-child(5){
        border-radius: none;
        grid-column: span 2;
        height: 255px;
        padding: 187px 42.5px 34px;
    }
    .catalog-item:nth-child(5) .catalog-name{
        font-size: 33.927px;
        line-height: 34px;
    }
    .catalog-item:nth-child(5) svg{
        width: 6.8px;
        height: 13.6px;
    }
    .catalog-item:last-child{
        display: none;
    }
    .index-adress__tabs {
        gap: 6px;
    }
    .product-item.new{
        margin-right: 15px;
    }
    .slick-next {
        right: 8px;
    }
    .mountains-img.mobile {
        display: block;
        object-fit: cover;
        bottom: -134px;
    }
    .product-item.new .product-item__title {
        font-size: 10px;
    }
    .product-item.new .product-price{
        font-size: 10px;
        padding: 3px 9px;
    }
    .product-item.new .product-btn svg{
        width: 18.919px;
        height: 18.919px;
    }
    .contact-item {
        padding: 30px 38px;
        gap: 34px;
    }
    .contact-item__title{
        font-size: 18px;
        margin-bottom: 8px;
    }
    .contact-item__text{
        font-size: 12px;
        margin-bottom: 12px;
    }
    .contact-item__cont{
        font-size: 12px;
    }
}